Node-red/공기청정기 노드레드.txt
[{"id":"de6db318.04c668","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"98b4ef8.92d505","type":"arduino in","z":"de6db318.04c668","name":"미세먼지센서","pin":"0","state":"ANALOG","arduino":"13d3e07b.306198","x":150,"y":400,"wires":[["86b784a1.a949b","26eb450d.0f02aa"]]},{"id":"86b784a1.a949b","type":"delay","z":"de6db318.04c668","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":400,"wires":[["f4f2f37a.a45d6","1141acb5.bb0ecb","c1a1473e.69ccf8","90f53aeb.a0cbc8","b2409bb7.32a8e8","6fbd0c09.344f38","87d01f0e.fc4dc","3605f031.625398"]]},{"id":"1141acb5.bb0ecb","type":"debug","z":"de6db318.04c668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":380,"wires":[]},{"id":"f5ac84ec.2c1888","type":"arduino out","z":"de6db318.04c668","name":"","pin":"3","state":"OUTPUT","arduino":"13d3e07b.306198","x":710,"y":700,"wires":[]},{"id":"f4f2f37a.a45d6","type":"ui_switch","z":"de6db318.04c668","name":"","label":"switch","tooltip":"","group":"5b522f30.070c7","order":2,"width":"6","height":"7","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":480,"wires":[["f5ac84ec.2c1888"]]},{"id":"3ec11d87.862d8a","type":"arduino out","z":"de6db318.04c668","name":"빨간색 LED","pin":"5","state":"OUTPUT","arduino":"13d3e07b.306198","x":880,"y":260,"wires":[]},{"id":"c1a1473e.69ccf8","type":"function","z":"de6db318.04c668","name":"","func":"if(msg.payload>1000){\n    msg.payload= true;\n}\nelse\n msg.payload= false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":280,"wires":[["3ec11d87.862d8a"]]},{"id":"90f53aeb.a0cbc8","type":"function","z":"de6db318.04c668","name":"","func":"\nif(msg.payload<980){\n     msg.payload = true;\n}\nelse{\n msg.payload= false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":220,"wires":[["1dba1bb.9bec964"]]},{"id":"1dba1bb.9bec964","type":"arduino out","z":"de6db318.04c668","name":"초록색 LED","pin":"7","state":"OUTPUT","arduino":"13d3e07b.306198","x":870,"y":200,"wires":[]},{"id":"f6fbaa88.a3f5b","type":"arduino out","z":"de6db318.04c668","name":"노란색 LED","pin":"6","state":"OUTPUT","arduino":"13d3e07b.306198","x":850,"y":120,"wires":[]},{"id":"b2409bb7.32a8e8","type":"function","z":"de6db318.04c668","name":"","func":"\nif(msg.payload<999&msg.payload>400){\n     msg.payload = true;\n}\nelse{\n msg.payload= false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":160,"wires":[["f6fbaa88.a3f5b"]]},{"id":"6fbd0c09.344f38","type":"ui_gauge","z":"de6db318.04c668","name":"","group":"5b522f30.070c7","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":510,"y":500,"wires":[]},{"id":"87d01f0e.fc4dc","type":"ui_chart","z":"de6db318.04c668","name":"","group":"5b522f30.070c7","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":510,"y":560,"wires":[[]]},{"id":"3605f031.625398","type":"function","z":"de6db318.04c668","name":"insert db","func":"\n\n msg.topic= \"INSERT INTO airpurifier VALUES ('\" +msg.payload+ \"',\"+flow.get(\"humidity\")+\")\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":380,"wires":[["acf39a56.0fd688","9c7a05d4.205498"]]},{"id":"acf39a56.0fd688","type":"mysql","z":"de6db318.04c668","mydb":"ffa78300.2153b","name":"","x":860,"y":460,"wires":[[]]},{"id":"9c7a05d4.205498","type":"debug","z":"de6db318.04c668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":560,"wires":[]},{"id":"e51089e0.b3a448","type":"debug","z":"de6db318.04c668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":840,"wires":[]},{"id":"26eb450d.0f02aa","type":"mqtt out","z":"de6db318.04c668","name":"","topic":"MqttTest3/OutTopic","qos":"","retain":"","broker":"be34a5aa.1c2c28","x":330,"y":560,"wires":[]},{"id":"25f80136.03bcea","type":"mqtt in","z":"de6db318.04c668","name":"","topic":"MqttTest3/OutTopic","qos":"0","datatype":"auto","broker":"be34a5aa.1c2c28","x":230,"y":840,"wires":[["e51089e0.b3a448"]]},{"id":"ef66b1a7.36dbb","type":"function","z":"de6db318.04c668","name":"","func":"flow.set(\"humidity\",msg.payload.humidity)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":740,"wires":[[]]},{"id":"a70b024f.d52f08","type":"inject","z":"de6db318.04c668","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":700,"wires":[["ef66b1a7.36dbb"]]},{"id":"13d3e07b.306198","type":"arduino-board","device":"COM3"},{"id":"5b522f30.070c7","type":"ui_group","name":"Group 1","tab":"ee6d38ee.850718","order":1,"disp":true,"width":6},{"id":"ffa78300.2153b","type":"MySQLdatabase","name":"TestDB","host":"127.0.0.1","port":"3306","db":"jaehoon","tz":"","charset":"UTF8"},{"id":"be34a5aa.1c2c28","type":"mqtt-broker","name":"AWS MqttTest3","broker":"a1t4bm8nh3uchp-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"1ea58782.97aa48","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ee6d38ee.850718","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"1ea58782.97aa48","type":"tls-config","name":"AWS MqttTest3","cert":"","key":"","ca":"","certname":"41dff5925d-certificate.pem.crt","keyname":"41dff5925d-private.pem.key","caname":"MqttTest3.pem","servername":"","verifyservercert":true}]